/* Color for class typeelt*/
/* type
bpmn:Activity
bpmn:BoundaryEvent
bpmn:BusinessRuleTask
bpmn:CallActivity
bpmn:CatchEvent
bpmn:ConditionalEventDefinition
bpmn:DataStoreReference
bpmn:EndEvent
bpmn:ErrorEventDefinition
bpmn:EscalationEventDefinition
bpmn:Event
bpmn:EventBasedGateway
bpmn:ExclusiveGateway
bpmn:FormalExpression
bpmn:Gateway
bpmn:GlobalBusinessRuleTask
bpmn:GlobalManualTask
bpmn:GlobalScriptTask
bpmn:GlobalTask
bpmn:GlobalUserTask
bpmn:ImplicitThrowEvent
bpmn:InclusiveGateway
bpmn:IntermediateCatchEvent
bpmn:IntermediateThrowEvent
bpmn:ManualTask
bpmn:MessageEventDefinition
bpmn:MultiInstanceLoopCharacteristics
bpmn:ParallelGateway
bpmn:Process
bpmn:ReceiveTask
bpmn:ResourceAssignmentExpression
bpmn:ScriptTask
bpmn:SendTask
bpmn:SequenceFlow
bpmn:ServiceTask
bpmn:SignalEventDefinition
bpmn:StartEvent
bpmn:SubProcess
bpmn:Task
bpmn:TextAnnotation
bpmn:ThrowEvent
bpmn:TimerEventDefinition
bpmn:Transaction
bpmn:UserTask
*/
g[type="bpmn:TextAnnotation"]:not(.djs-connection) path {
  stroke: lightgray !important; 
}
g[type="bpmn:TextAnnotation"]:not(.djs-connection) text {
  font-style: italic !important;
  fill: lightgray !important; 
}


g[type="bpmn:UserTask"]:not(.djs-connection) rect,
g[type="bpmn:ManualTask"]:not(.djs-connection) rect,
g[type="bpmn:BusinessRuleTask"]:not(.djs-connection) rect
{
  stroke: lightgreen !important;
}

g[type="bpmn:ScriptTask"]:not(.djs-connection) rect,
g[type="bpmn:ServiceTask"]:not(.djs-connection) rect
{
  stroke: lightblue !important;
}

g[typedef="bpmn:MessageEventDefinition"][type="bpmn:EndEvent"]:not(.djs-connection) circle
{
  stroke: orange !important;
}
g[typedef="bpmn:MessageEventDefinition"][type="bpmn:EndEvent"]:not(.djs-connection) path
{
  fill: orange !important;
}
